.App {
  background-color: #282c34;
  text-align: center;
  height: 100vh;
  position: relative;
  font-family: "sky_textmedium",Arial,Helvetica;
}

.App-logo {
  height: 5vmin;
  left:0;
  position: absolute;
  padding: 10px;
  vertical-align: top;
}

.App-header {
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: magenta;
}

.logo-container {
  flex: 1;
  position: relative;
}

.headers-container {
  flex: 8;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  background-color: cyan;
  bottom: 0;
  position: absolute;
  width: 100%;
  display: flex;
}

.quote-container {
  flex: 8;
}
