.App {
  background-color: #282c34;
  text-align: center;
  height: 100vh;
  position: relative;
  font-family: "sky_textmedium",Arial,Helvetica;
}

.App-logo {
  height: 5vmin;
  left:0;
  position: absolute;
  padding: 10px;
  vertical-align: top;
}

.title-bar {
  padding: 20px;
  color: #ff0066;
}

.link {
  text-decoration: none;
  background-color: rgb(99, 36, 138);
  padding: 20px;
  margin: 20px;
  color: white;
  opacity: 0.7;
  border-radius: 10px;
}

.link:hover {
  opacity: 1;
}

.App-header {
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: black;
}

.logo-container {
  flex: 1;
  position: relative;
}

.headers-container {
  flex: 8;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  background-color: black;
  bottom: 0;
  position: absolute;
  width: 100%;
  display: flex;
}

.quote-container {
  flex: 8;
  color: white;
}

.calm-container, .sad-container, .wide-awake-container, .fearless-container {
  display: flex;
}

.emotion {
  flex: 1;
}

.slider {
  flex: 1;
}

.programmes-container {
  display: flex;
}
.programme1-container, .programme2-container, .programme3-container, .programme4-container, .programme5-container {
  flex: 1;
}
.programme1, .programme2, .programme3, .programme4, .programme5 {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  padding: 10px;
  height: 120px;
  margin: 30px;
}

.programme1-title, .programme2-title, .programme3-title, .programme4-title, .programme5-title {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  padding: 10px;
  height: 30px;
  margin: 30px;
}

.nav-bar {
  display: flex;
}

.link {
  flex: 1;
  padding: 10px;
}

.image {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.inner-wrapper {
  padding: 20px;
}

.value-indicator {
  padding: 25px;
}

.continue-button {
  text-decoration: none;
  background-color: rgb(99, 36, 138);
  padding: 20px;
  margin: 20px;
  color: white;
  opacity: 0.7;
  border-radius: 10px;
  width: 100px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.continue-button:hover {
  opacity: 1;
}

.upload-status {
  padding: 20px;
}